{% style %}
    #custom-button {
        background: #FFF8F8;
        border: none !important;
        height: 0;
        padding: 0;
        display: flex;
        align-items: center;
    }
    div#shopify-section-custom-mail-list {
        padding-bottom: 0;
    }
    input {
      border-right-width: 0;
    }
{% endstyle %}
<div class="newsletter-section{% if section.settings.show_background %} index-section--newsletter-background{% endif %}">
    <div class="page-width">
      <div class="section-header text-center">
        {% if section.settings.section_title != blank %}
          <h2 class="h2">{{ section.settings.section_title | escape }}</h2>
        {% endif %}
        {% if section.settings.subheading != blank %}
          <div class="rte">{{ section.settings.subheading }}</div>
        {% endif %}
      </div>
      {%- assign formId = 'Contact_' | append: section.id -%}
      {% form 'customer', id: formId, novalidate: 'novalidate', class: 'contact-form form-single-field' %}
        {%- if form.posted_successfully? -%}
          <p class="form-message form-message--success" tabindex="-1" data-form-status>
            {{ 'general.newsletter_form.confirmation' | t }}
          </p>
        {%- endif -%}
        <input type="hidden" name="contact[tags]" value="newsletter">
        <div class="input-group {% if form.errors %} input-group--error{% endif %}">
          <input type="email"
            name="contact[email]"
            id="{{ formId }}-email"
            class="input-group__field{% if form.errors %} input--error{% endif %}"
            value="{{ form.email }}"
            placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
            aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
            aria-required="true"
            autocorrect="off"
            autocapitalize="off"
            {% if form.errors %}
              aria-invalid="true"
              aria-describedby="{{ formId }}-email-error"
              data-form-status
            {% endif %}
            >
            <span class="input-group__btn">
                <button type="submit" class="btn" name="commit" id="custom-button">
                  <span></span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" style="width: 60px; height: 100%;"><path style="fill:#232326" d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z" data-name="Right"/></svg>
                </button>
            </span>
        </div>
        {%- if form.errors contains 'email' -%}
          <span id="{{ formId }}-email-error" class="input-error-message">
            <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
            {% render 'icon-error' %}
            <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
          </span>
        {%- endif -%}
      {% endform %}
    </div>
  </div>
  
  
  
  {% schema %}
  {
    "name": "Newsletter",
    "class": "index-section index-section--flush",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Heading",
        "default": "Subscribe to our newsletter"
      },
      {
        "type": "richtext",
        "id": "subheading",
        "label": "Subheading",
        "default": "<p>Promotions, new products and sales. Directly to your inbox.</p>"
      },
      {
        "id": "show_background",
        "type": "checkbox",
        "label": "Show background",
        "default": true
      },
      {
        "type": "paragraph",
        "content": {
          "en": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
        }
      }
    ],
    "presets": [
      {
        "name": "Newsletter",
        "category": "Promotional"
        }
    ]
  }
  {% endschema %}
  